{{define "content" .}}
<div>
    <h1>todo:</h1>
    <ul>
        {{range .Tasks}}
            {{if not .Completed}}
            <li class="task">
                <span>{{.ID}} {{.Name}} {{.Description}} {{.Priority.String()}} {{.Created}}</span>
            </li>
            {{else}}
            <li class="task task-completed">
                <span>{{.ID}} {{.Name}} {{.Description}} {{.Priority.String()}} {{.Created}}</span>
            </li>
            {{end}}
        {{end}}
    </ul>
</div>
{{end}}
