@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
	--bg0: black;
	--bg1: #04040a;
	--bg2: #1F1E33;
	--fg0: white;
	--fg1: #C9CDD6;
	--fg2: #E5E4E2;
	--hh: 4rem;
	--fh: 2.5rem;
}

* {
	font-family: 'JetBrains Mono', Arial, sans-serif;
	box-sizing: border-box;
	margin: 0;
}

html {
	background-color: var(--bg0);
	color: var(--fg2);
}

body {
	padding: 0;
}

header {
	width: 100%;
	height: var(--hh);
	padding: 0 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: var(--bg2) 1px solid;
}

header nav ul {
	display: flex;
	gap: 5rem;
}

header nav ul li {
	text-decoration: none;
	display: flex;
}

header nav ul li a {
	text-decoration: none;
	color: var(--fg2)
}

footer {
	width: 100%;
	height: var(--fh);
	padding: 0 .5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: var(--bg2) 1px solid;
}

main {
	min-height: calc(100vh - var(--fh) - var(--hh));
	background-color: var(--bg1) !important;
	padding: 1rem 20%;
}
